# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
ipython=2.3.1=py27_0
ipython-notebook=2.3.1=py27_0
jinja2=2.7.3=py27_1
markupsafe=0.23=py27_0
pyreadline=2.0=py27_0
python=2.7.8=0
pyzmq=14.4.1=py27_0
setuptools=7.0=py27_0
ssl_match_hostname=3.4.0.2=py27_0
tornado=4.0.2=py27_0
